.navbar {
    display: flex;
    margin: 86px 140px 0 140px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

li {
    margin-left: 50px;
}

li:hover {
    color: rgb(255, 64, 0);
    cursor: pointer;
}

@media screen and (max-width: 767px) {

    .navbar {
        margin: 10px 0 0 10px
    }

    .nav {
        background: blue;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        padding: auto;
    }

}